#contener{
    display: flex;
}

/*bloc gauche forum*/
.Lcontent{
    width: 70%;
    text-align: justify;
    margin: 5px 0 0 10px;
}


.Lcontent h2 {
    background-color: #03fc5e;
}

/*bloc droit forum*/

.Rcontent{
    width: 35%;
    margin: 5px 0 0 20px;
    
}

.Rcontent article h2 {
    background-color: #03fc5e;
}

.Rcontent article h3 {
    background-color: #03fc5e;
    margin:10px 0 0 0;
}

.Rcontent article ul li {
    margin-top: 5px;
}

/*contenu bloc forum*/

.topilist ul {
    display: flex;
    justify-content: space-around;
    
}

.topilist ul li {
    margin:auto;
    padding: 1rem;

}


.section ul {
    display: flex;
    justify-content: space-around;
    background-color: #eceaea

}


