
body{
    
}


nav ul{
display:flex;
text-align: center;
}

header ul li {
    list-style-type: none;
    
}

header ul li a{
    text-decoration: none;
    display: block;
}

header ul li ul li {
    display: none;
}

header ul li:hover ul li {
    display: block;
    color: blueviolet;
}

.submenu{
    padding: 0vw;
    display: block;
    
    
}



