header{
    position: fixed;
    width: 100%;
}

nav ul{
display:flex;
justify-content: space-between;
text-align: center;
margin:0 5%;
padding: .5%;
}

header ul li {
    list-style-type: none;
    width: 200px;
    height:25px;
    background-color:#ecf5fa;
}

header ul li a{
    text-decoration: none;
    display: block;
}

header ul li ul li {
    display: none;
    color: black;
    opacity:0.7;
}

header ul li:hover ul li {
    display: block;
    color: rgb(24, 0, 46);
    height: 1.5rem;
}

.submenu{
    padding: 0vw;
    display: block;
}

#site-search{
    height: 27px;
    width: 250px;
    box-shadow: cadetblue;
    border-radius: 5px;
}

