header{
    height: 25px;
    padding-bottom: 5px;
}
/*mise ne page du bandeau de joke*/
.loic{
    background-image:url(assets/images/backJoke.png);
    font-family: 'Indie Flower', cursive;
    height: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.loic ul{
    color: black;
    font-size: 100px;     
}
.loic li{
    text-align: center;  
}
.hierJ h1{
    color: rgb(40, 124, 33);
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    opacity: none;
}

/*mise ne page blague d'hier*/
.joker{
    color:black;
}
.hierJ{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hierJ li{
    color: rgb(40, 124, 33);
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin-top:25px;
}
/*mise en page autres blagues*/
.blague{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.blague h2{
    color: rgb(40, 124, 33);
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
/*mise en page des sections de blagues*/
.dev li{
    padding-bottom: 20px;
}
main{
    min-height: calc(100vh - 77.375px) ;
}





