/*////// BODY /////// */

/*apparaitre image du bandeau*/

/* aligne, et éloigne la blague et le "connexion"*/

.bandeau {
    padding-top: 3%;
}

.tailleBandeau{
    height: 12vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.bandeau ul {
    background-image: url(https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


button {
    margin-right: 100px;
}

/*colorer la blague du jour et la positionner*/

.joke{
    color: yellow;
    width: 30vw;
    padding-left: 10%;
    font-weight: bold;
}
/*dimenssionne le bouton*/
.buttonA{
    font-size:70%;
    font-weight: bold;
    cursor: pointer; 
    background: none;
    border: none;
    color: white;
    text-align: center;
}  

.buttonA p {
    color: red;
}

/*aligner les éléments de la box infos*/
span{
    font-weight: bold;
    color: #132acb;
}

/*dimension images*/
.imgBandeau{
    width: 5vw;
    height: 6vw;
    transition: width .5s height .5s;
}
/*mise en page du read more*/

main section article {
    display: flex;
}
section article .picContainer img{
    width: 500px;
}

/*/////////////////
///    Sidebar   //
/////////////////*/

:root {
    font-size: 16px;
}

.navbar.navbar::-webkit-scrollbar {
    width: 0.25rem;
}

.navbar::-webkit-scrollbar-track {
    background: white;
}

.navbar::-webkit-scrollbar-thumb {
    background: lightgray;
    opacity: 50%;
}

.navbar {
    position: fixed;
    transition: 200ms ease;
    border: 2px inset lightgray;
    opacity: 100%;
    background: white;
    overflow: scroll;
    
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    align-items: left;
    width: 100%;
    align-items: center;
}

.logo img {
    height: auto;
    width: 4rem;
}

.nav-link img {
    padding-left: 5px;
    border-bottom: none;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.link-text {
    display: none;
    margin-left: 1rem;
    color: black;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}

.nav-item p {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    text-align: left;
}

.link-text {
    display: flex;
}

.fa-html5 {
    color: orange;
}

.fa-css3 {
    color: blue;
}

.fa-js {
    color: #f0dc4e;
}

.fa-vuejs {
    color: gray;
}

.fa-wordpress {
    color: darkslategray;
}

.fa-symfony {
    color: black;
}

.fa-git {
    color: red;
}

.fa-laravel {
    color: orange;
}

.fa-node {
    color: gray;
}

.fa-php {
    color: blueviolet;
}

.fa-linux {
    color: black;
}

/*/////////////////
///    Sidebar   //
/////////////////*/

@media only screen and (min-width: 800px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }
}

@media only scrren and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}