/*////// BODY /////// */

/*apparaitre image du bandeau*/

/* aligne, et éloigne la blague et le "connexion"*/
main .flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .tailleBandeau{
   background:url(assets/images/codeBandeau.jpg);
    height: 7.3vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joke{
    color: blanchedalmond;
    width: 30vw;
    padding-left: 10%;
    font-weight: bold;
}
/*dimenssionne le bouton*/
.buttonA{
    border-radius: 5%;
    height: 5vw;
    font-size:70%;
    color:black;
    background-color:#33FFF7 ;
    font-weight: bold;
    box-shadow: 2px 3px 2px 3px darkslategray;
    cursor: pointer; 
}  
/*aligner les éléments de la box infos*/
span{
    font-weight: bold;
    color: #132acb;
}

main section article{
    border: darkviolet 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #eeeeee;
}


/*dimension images*/
.imgBandeau{
    width: 5vw;
    height: 6vw;
    transition: width .5s height .5s;
}
/*mise en page du read more*/
.read{
    display: flex;
    justify-content: flex-end;
}

/*/////////////////
///    Sidebar   //
/////////////////*/

:root {
    font-size: 16px;
}

.navbar.navbar::-webkit-scrollbar {
    width: 0.25rem;
}

.navbar::-webkit-scrollbar-track {
    background: white;
}

.navbar::-webkit-scrollbar-thumb {
    background: lightgray;
    opacity: 50%;
}
.navbar.navbar::-moz-scrollbar{
    width: 0.25rem;
}

.navbar::-moz-scrollbar {
    background: white;
}

.navbar::-moz-scrollbar {
    background: lightgray;
    opacity: 50%;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    transition: 200ms ease;
    border: 2px inset lightgray;
    opacity: 100%;
    background: white;
    overflow: scroll;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
}

.link-text {
    display: none;
    margin-left: 1rem;
    color: black;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}

.fa-html5 {
    color: orange;
}

.fa-css3 {
    color: blue;
}

.fa-js {
    color: #f0dc4e;
}

.fa-vuejs {
    color: gray;
}

.nav-item p {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    text-align: left;
}

.link-text {
    display: flex;
}

.fa-wordpress {
    color: darkslategray;
}

.fa-symfony {
    color: black;
}

.fa-git {
    color: red;
}

.fa-laravel {
    color: orange;
}

.fa-node {
    color: gray;
}

.fa-php {
    color: blueviolet;
}

.fa-linux {
    color: black;
}
