body{
    margin: 0;
}

footer{
    background-color:black;
    margin: 0;

}
.flex{
    display: flex;
    justify-content:;
    align-items: center;
}


.logo{
    color: red;
    font-size: xx-large;    
}



li{
    list-style-type: none;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: cornflowerblue;
}

.center{
    align-items: center;
    justify-content: center;
}

ul :nth-child(4) {
    flex-grow: 2;
}
ul :nth-child(5) {
    flex-grow: 3;
}






